@model Sqr.SSO.Web.Account.VModels.VM_Login
@{
    Layout=null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>系统登录</title>
    <link href="/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <link href="/css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="/js/Validform_v5.3.2_min.js"></script>
    <script>
        $(document).ready(function () {
            $("#GL_StandardCode").click(function () {
                var newSrc = "@Url.Action("GetImg", "Account")" + "?t=" + (new Date()).getTime();
                this.src = newSrc;
                return false;
            });
        });
    </script>
</head>

<body>


    <div class="header">
        <h1 class="headerLogo"><a title="后台管理系统" target="_blank" href="http://sc.chinaz.com/"><img alt="logo" src="/images/logo.gif"></a></h1>
        @*<div class="headerNav">
            <a target="_blank" href="http://sc.chinaz.com/">华软官网</a>
            <a target="_blank" href="http://sc.chinaz.com/">关于华软</a>
            <a target="_blank" href="http://sc.chinaz.com/">开发团队</a>
            <a target="_blank" href="http://sc.chinaz.com/">意见反馈</a>
            <a target="_blank" href="http://sc.chinaz.com/">帮助</a>
        </div>*@
    </div>

    <div class="banner">

        <div class="login-aside">
            <div id="o-box-up"></div>
            <div id="o-box-down" style="table-layout:fixed;">
                <div class="error-box"></div>
                @using(Html.BeginForm("Login","Account",FormMethod.Post)){

                <div class="fm-item">
                    <label for="logonId" class="form-label">MISS系统登陆：<em style="color:red"> @Html.ValidationMessageFor(c => c.Account)</em></label>
                    <input type="text" name="Account" id="Account" value="@Model?.Account" class="i-text" placeholder="登录账户" />
                    <div class="ui-form-explain"></div>
                </div>

                <div class="fm-item">
                    <label for="logonId" class="form-label">登陆密码：<em style="color:red"> @Html.ValidationMessageFor(c => c.Password)</em></label>
                    <input type="password" name="Password" id="Password"  class="i-text" placeholder="登陆密码" />
                    <div class="ui-form-explain"></div>
                </div>

                <div class="fm-item pos-r">
                    <label for="logonId" class="form-label">验证码：<em style="color:red"> @Html.ValidationMessageFor(c => c.ValidCode)</em></label>
                    <input type="text" maxlength="4" name="ValidCode" id="ValidCode" value="@Model?.ValidCode" class="i-text yzm" placeholder="验证码" />
                    <div class="ui-form-explain"><img id="GL_StandardCode" class="yzm-img" style="cursor: pointer;" src="@Url.Action("GetImg", "Account")?t=@DateTime.Now.Ticks" title="看不清，点击换一张" /></div>
                    <div class="ui-form-explain"></div>
                </div>
                @*<div>
                    @Html.ValidationSummary() &nbsp;
                </div>*@
                <div class="fm-item">
                    <label for="logonId" class="form-label"></label>
                    <input type="submit" value="" tabindex="4" id="send-btn" class="btn-login">
                    <div class="ui-form-explain"></div>
                </div>
                <input type="hidden" id="BackUrl" name="BackUrl" value="@Model?.BackUrl"/>
                }
            </div>

        </div>

        <div class="bd">
            <ul>
                <li style="background:url(/images/theme-pic1.jpg) #CCE1F3 center 0 no-repeat;"></li>
                <li style="background:url(/images/theme-pic2.jpg) #BCE0FF center 0 no-repeat;"></li>
            </ul>
        </div>

        <div class="hd"><ul></ul></div>
    </div>
    <script type="text/javascript">jQuery(".banner").slide({ titCell: ".hd ul", mainCell: ".bd ul", effect: "fold", autoPlay: true, autoPage: true, trigger: "click" });</script>


    <div class="banner-shadow"></div>

    <div class="footer">
        <p>Copyright &copy; 2014.Company name All rights reserved.</p>
    </div>
    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
</body>
</html>
