<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Css",false)
</head>
<body>

    

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderSection("BodyTop", required: false)
        <nav class="menu">
            <div class="pjnav w1000">
                <div class="pjnav_l">
                    <ul>
                        <li class="pjnav_click"><a href="index.html">首&nbsp;页</a></li>
                        <li class="pjnav_down">
                            <a href="news_list.html">关于普金</a>
                            <div class="disnone">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="news_list.html">公司简介</a></dd>
                                    <dd><a href="news_list.html">主营业务</a></dd>
                                    <dd><a href="news_list.html">文化体系</a></dd>
                                    <dd><a href="news_list.html">发展历程</a></dd>
                                    <dd><a href="news_list.html">合作伙伴</a></dd>
                                    <dd><a href="news_list.html">公司荣誉</a></dd>
                                    <dd><a href="news_list.html">联系我们</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="pjnav_down">
                            <a href="#">新闻中心</a>
                            <div class="disnone">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="news_list.html">公司要闻</a></dd>
                                    <dd><a href="news_list.html">市场活动</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="pjnav_down">
                            <a href="#">产品服务</a>
                            <div class="disnone">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="#">税务稽查类</a></dd>
                                    <dd><a href="#">税收征管类</a></dd>
                                    <dd><a href="#">纳税服务类</a></dd>
                                    <dd><a href="#">财税业务应用类</a></dd>
                                    <dd><a href="#">网络教育类</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="pjnav_down"><a href="#">运营体系</a></li>
                        <li class="pjnav_down">
                            <a href="#">投资者关系</a>
                            <div class="disnone">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="#">信息披露</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="pjnav_down">
                            <a href="#">董事长专栏</a>
                            <div class="disnone">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="#">董事长语录</a></dd>
                                    <dd><a href="#">董事长简介</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="pjnav_down">
                            <a href="#">人才专区</a>
                            <div class="disnone">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="#">人才招聘</a></dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Web</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
